body{
	background-color: $white;
}

* {
	@include box-sizing(border-box);
}

h1{
	margin-bottom: 30px;

	text-align: center;
	@include fontFamily('1','b');
	font-size: $h1;
	line-height: 42px;
	color: $black;

	@media screen and (max-width: $mediaq-mobile-max){
		margin-bottom: 40px;

		text-align: center;
		font-size: $h1Mobile;
	}
}

h2,
h2 a{
	margin: 0 auto 40px; 	

	text-align: center;
	@include fontFamily('1');
	font-size: $h2;
	line-height: 28px;
	color: $black;

	@media screen and (max-width:$mediaq-mobile-max) {
		font-size: $h2Mobile;
		line-height: 36px;		
	}
}



h3{
	@include h3();

	@media screen and (max-width:$mediaq-mobile-max) {
		font-size: $h3Mobile;
		line-height: 36px;		
	}
}

p{
	margin-bottom: 30px;

	text-align: left;
	@include fontFamily('2');
	font-size: $p;
	line-height: 25px;
	color: $black;

	@media screen and (max-width:$mediaq-mobile-max) {
		font-size: $pMobile;
		line-height: 36px;		
	}
}

li{
	@include fontFamily('2');
	font-size: $p;
	line-height: 25px;
	color: $black;

	@media screen and (max-width:$mediaq-mobile-max) {
		font-size: $pMobile;
		line-height: 36px;		
	}
}

strong{
	font-weight: 700;
}

a{
	text-decoration: underline;
	@include fontFamily('2');
	font-size: $p;
	line-height: 25px;
	color: $black;

	&:hover{
		color: $green;
	}

	@media screen and (max-width:$mediaq-mobile-max) {
		font-size: $pMobile;
		line-height: 36px;		
	}
}

label{
	display: block;

	@include fontFamily('2');
	font-size: $p;
	line-height: 25px;
	color: $black;

	@media screen and (max-width: $mediaq-mobile-max) {

		font-weight: 700;
		font-size: $pMobile;
		line-height: 40px;
	}	
}

input,
textarea,
select{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 0 0 10px;

	border: none;

	background-color: $greyLight;

	@include fontFamily('2');
	font-size: $p;
	line-height: 30px;
	color: $greyDark;


	-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;

	&:focus{
		outline: $green 3px solid;
	}

	@media screen and (max-width: $mediaq-mobile-max) {
		margin-bottom: 40px;

		font-size: $pMobile;
		line-height: 60px;
	}	
}

input[type="file"]{
    position: absolute;
    left: 25px;
    bottom: 0;
    margin-bottom: 0;

    background: none;
}

input[type="submit"]{
	border: none;
}

select{
    background: $greyLight url('../img/arrow_ddown.png') 330px center no-repeat;

    @media screen and (max-width: $mediaq-mobile-max) {
    	background: $greyLight url('../img/arrow_ddown_mobile.png') calc(100% - 28px) center no-repeat;
    }
}

legend{
	margin-bottom: 15px;

	@include fontFamily('2','b');
	font-size: calc(#{$p} + 3px);
	line-height: 26px;
	color: $black;	

	@media screen and (max-width: $mediaq-mobile-max) {
		margin-bottom: 30px;

		text-align: center;

		font-size: 30px;
		line-height: 36px;
	}	
}

input[type=checkbox],
input[type=radio]{
	position: relative;
	@include inline-block();
	width: 20px;
	height: 20px;
	
	border: 1px solid $greyDark;

	background-color: $white;

	-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;

    &:checked{
		&:after{
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			display: block;
			width: 14px;
			height: 14px;
			background-color: $greyDark;
		}
    }

    @media screen and (max-width: $mediaq-mobile-max) {
    	width: 40px;
    	height: 40px;
    	margin-right: 30px;

    	&:checked{
			&:after{
				width: 30px;
				height: 30px;
				top: 4px;
				left: 4px;
			}
		}
    }
}

input[type=radio]{
	@include border-radius(50%);
    &:checked{
		&:after{
			@include border-radius(50%);
		}
    }
}