.center{
	max-width: $contentMax;
	margin: 0 auto;
}

.grid{
	display: grid;
}

.grid-2{
	
	grid-template-columns: $sidebar 1fr;

	@media all and (max-width: $mediaq-mobile-max){
		grid-template-columns: 1fr;

		aside{
			grid-row : 2 / 3;	
		}

		.content{
			grid-row : 1 / 2;
		}
	}
}

#top{
	position: relative;
	margin-bottom: 3rem;
}

#middle{
	position: relative;
}

aside{
	&.grid{
		grid-template-rows: auto 1fr;
	}
}

.content{
	@media all and (max-width: $mediaq-tablet-max){
		position: relative;
	}
}

#bottom{
	padding-top: 6rem;
	background-color: $white;
}
