
/*ATTENTION REVOIR LES Review + W3C + Accessibilité */

/*Global*/
* {
	@include box-sizing(border-box);
}
/*Global*/
.cCenter{
	width: $desktop;
	margin: 0 auto;
}

header{ 
	position: relative;

	& > .cCenter{
		display: flex;
		align-items: flex-start;
		padding-top: 10px;
		background-color: $white;
		z-index: 1;
	}
}


#logo{
	margin-right: 20px;
	padding-top: 5px;
}

.menus{
	width: 100%;
	z-index: 2;
	background-color: $white;
}

#topMenu{
	text-align: right;

	li{
		@include inline-block();
		position: relative;	
		padding: 0 20px;
		font-size: 0;		

		&:after{
			@include border-radius(1.5px, 1.5px);			
			content: '';
			position: absolute;	
			top: 50%;	
			right: 0;
			display: inline-block;
			width: 3px;
			height: 3px;
			background-color: $dark_grey;
		}

		&:last-child{
			padding: 0 0 0 20px; 

			&:after{
				display: none;	
			}	
		}
	}

	a{
		font-family: $ff_verdana;
		font-size: 	$text;
		color : $dark_grey;
		text-decoration: none;	

		&:hover{
			border-bottom: 4px solid $green;	
		}

	}
}

.subMenuContainer{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 40px 0 30px;
	background-color: $white;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;

	ul{
		display: grid;
		grid-gap: 25px;
		align-items: stretch;
	}

	.cCenter{
		display: flex;
		align-items: flex-start;
	}

	&.grid-4{
		ul{
			width: 940px;
			margin-right: 25px;
			grid-template-columns: repeat(4, 1fr);
		}
		
	}

	&.grid-5{
		ul{
			width: 100%;
			grid-template-columns: repeat(5, 1fr);
		}
		
	}
}

.subMenuLink{
	a{
		display: block;
		margin-bottom: 15px;
		font-family: $ff_roboto_cds;
		font-size: 18px;	
		text-decoration: underline;
		color: $black;
	}
	p{
		font-family: $ff_verdana;
		font-size: 14px;
		line-height: 19px;
		color: $black;
	}

	li{
		&:hover{
			cursor: pointer;

			a{
				color: $dark_grey;
			}
			p{
				color: $dark_grey;
			}
		}
	}
}

/*Review Hover*/
.highlight{
	width: 215px;
	text-align: center;
	.title{
		display: block;
		margin-bottom: 15px;
		font-family: $ff_roboto_cds;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		text-decoration: none;
		color: $black;
	}	
	img{
		margin-bottom: 15px;
	}
	p{
		font-family: $ff_verdana;
		font-size: $text;
		line-height: 19px;
		text-align: left;
		color: $black;
	}
}

/*Review after triangle compatibilité */
#mainMenu{
	margin-top: 25px;
	border-top: 3px solid $green;

	& > ul{
		@include flexbox((display: flex));
		@include justify-content(flex-end);

		& > li{
			@include flexbox((display: flex));
			@include flex(1);
			@include align-items(center);
			min-height: 50px;
			margin-top: 5px;
			padding-bottom: 10px;

			&:hover{
				& > .subMenuContainer{
					display: block;
				}

				& > p > a{
					.arrow{
						display: block;
						position: absolute;
						left: 50%;
						bottom: -26px;
						width: 16px;
						height: 16px;
						border-left: 1px solid $black;
						border-top: 1px solid $black;
						background: $white;
						opacity: 1;
						transform: translate(-50%,-50%) rotate(45deg);
						z-index: 1;
					}
				}

			}

			.containerLink{
				@include flexbox((display: flex));
				@include flex(1);
				position: relative;
				height: 100%;
				border-right: 1px solid $black;	


				a{
					@include flex(1);
					@include align-self(center);
					display: block;	
					padding: 10px 5px;	
					font-family: $ff_roboto_cds;
					font-size: 16px;	
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;	
					color: $black;

					&:hover{
						color: $dark_grey;

					}			
				}
			}
			
			&:last-child{
				border-right: none;
				a{
					&:after{
						content: none;
					}
				}
			}

			&.contact{
				border-right: none;
				a{
					@include main-button-menu();

					&:after{
						content: none;
					}
				}
			}


		}		
	}

	.account{
		display: grid;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		background-color: $dark_grey_op70;
		font-family: $ff_roboto_cds;
		color: $white;
			padding-left: 50px;

		&:hover {
			background-color: $dark_grey_op85;
		}
		
		a{
			position: absolute;
			display: grid;
			width: 100%;
			height: 100%;
			padding-left: 50px;
			background: url(../img/userIco.png) no-repeat;
			background-position: 15px center;
			font-family: $ff_verdana;
			font-weight: bold;
			font-size: 12px;
			text-transform: none;
			color: $white;
		}

		.name{
			align-self : end;
			margin-top: 0;
			font-family: $ff_roboto_cds;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.link{
			align-self : start;
			margin-top: 10px;
			padding: 0;
			text-align: left;
		}
	}
}

.accountBg{
	position: absolute;
	content: '';
	width: 50%;
	height: 86px;
	right: 0;
	bottom: 0;
	border-top: 3px $green solid;
	background-color: $dark_grey_op70;

	&.hover{
		background-color: $dark_grey_op85;
	}
}

#search{
	padding: 15px 0;
	background-color: $light_grey;

	input{
		margin-left: 170px;
		padding: 0 20px;
		width: 800px;
		height: 40px;
		border: 1px solid $medium_grey;

		@include input-placeholder {
			color: $grey;
			font-family: $ff_verdana;
			font-size: $text;
		}
	}

	button{
		@include secondary-button();
		margin-left: 20px;
		cursor: pointer;
	}
}

/* TABLET */
@media all and (max-width: 1179px) and  (min-width: 769px){
/*Global*/
.cCenter{
	width: auto;
}

}

@media all and (max-width: 1100px) and  (min-width: 769px){
	#mainMenu{
		.account{
			.name,
			.link{
				display: none;
			}
		}
	}
}

@media all and (max-width: 1015px) and  (min-width: 769px){

}

@media all and (max-width: 910px) and  (min-width: 769px){

}

@media all and (max-width: 768px){
	
}