@function cs($size){
	@return $size * 100 / 640 + vw;
}

@mixin h1(){
	text-align: center;
	font-size: 32px;
	font-family: $ff_roboto_cds;
	font-weight: bold;
	color: $black;
}

@mixin h2(){
	padding: 30px 0 0;
    font-weight:normal;
    text-align:center;
	font-family:$ff_roboto_cds;
	font-size: 24px;
		color: $black;
  	span{
  		padding-left: 40px;
		background: url(../img/grn-h2.png) no-repeat left 15px;

		span {
		  background-position: right 15px;
		  padding-left: 0;
		  padding-right:40px;
		}
  	}
}

@mixin inline-block(){
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}