.accordeon{
	padding-top: 3rem;
	padding-left: 3rem;
	padding-bottom: 3rem;
	&.full-grey{
		padding-left: 0;
		@media all and (max-width: $mediaq-tablet-max){
			padding: 3rem;
		}
	}

	@media all and (max-width: $mediaq-tablet-max){
		padding: 3rem;
	}
}

.accordeon-item{
	margin-bottom: 2rem;
	background-color: $white;

	&:last-child{
		margin-bottom: 0;
	}

	h2{
		position: relative;
		margin-bottom: 0;
		padding: 1.5rem;

		text-align: left;

		@media all and (max-width: $mediaq-mobile-max){
			padding-right: 11.3rem;
		}

		span{
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 3.3rem;
			height: 100%;
			
			border-left: 0.3rem solid $greyLight;

			background:transparent url('../img/accordeon.png') center center no-repeat;

			text-indent: -9999px;

			@media all and (max-width: $mediaq-mobile-max){
				width: 10rem;

				background-image: url('../img/accordeon-mobile.png');
			}
		}

		&.is-open{
			span{
				@include rotate(180deg);
				border-left: none;
				border-right: 0.3rem solid $greyLight;
			}
		}
	}

	a{
		&:hover{
			color: $greyDark;
			span{
				background-image: url('../img/accordeon-hover.png');

				@media all and (max-width: $mediaq-mobile-max){
					background-image: url('../img/accordeon-mobile.png');
				}
			}
		}
	}
}

.accordeon-answer{
	display: none;
	padding: 1rem 1.5rem;
	border-top: 0.3rem solid $greyLight;
}