.anchor{
	ul{
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}

	li{
		margin-right: 90px;

		&:last-child{
			margin-right: 0;
		}
	}

	a{
		display: block;
		padding: 5px 15px;

		border: 1px solid $greyDark;
		
		@include fontFamily('2');
		font-size: $p;
		color: $greyDark;

		&:hover{
			background-color: $greyMedium;
		}

	}
}