.anchor{

	ul{
		display: flex;
		justify-content: center;

		@media screen and (max-width:$mediaq-mobile-max) {
			display: block;
			padding: 0 4rem;
		}
	}

	li{
		margin-right: 9rem;

		@media screen and (max-width:$mediaq-mobile-max) {
			margin-bottom: 4rem;
			margin-right: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	a{
		display: block;
		padding: 0.5rem 1.5rem;

		border: 0.1rem solid $greyDark;
		
		@include fontFamily('2');
		font-size: $p;
		color: $greyDark;

		&:hover{
			background-color: $greyMedium;
		}

		@media screen and (max-width:$mediaq-mobile-max) {
			padding: 2rem;

			border: 0.2rem solid $greyDark;

			text-align: center;
			font-size: $pMobile;
		}

	}
}