.array{
	padding: 0 3rem;

	ul{
		width: 64.5rem;
		margin: 0 auto;

		@media all and (max-width: $mediaq-4){
			width: 100%;
		}
	}

	li{
		grid-template-columns: 13.5rem 1fr;

		border-bottom: 0.1rem solid $grey;

		&:first-child{
			border-top: 0.1rem solid $grey;
		}

		@media all and (max-width: $mediaq-mobile-max){
			display: block;

			&:last-child{
				border-bottom: none;
			}
		}
	}

	h3{
		margin-bottom: 0;
		padding: 1.5rem;

		background-color: $greyLight;

		text-align: right;
		@include fontFamily('1');
		font-size: calc(#{$p} * 1.29); //18px

		@media all and (max-width: $mediaq-mobile-max){
			padding: 2.5rem 1.5rem;

			text-align: center;
			font-size: calc(#{$pMobile} * 1.25); //30px
			line-height: 3.6rem;

		}

	}

	p{
		margin-bottom: 0;
		padding: 1.5rem;

		@media all and (max-width: $mediaq-mobile-max){
			padding: 2.5rem 1.5rem;
			text-align: center;
		}
	}
}

.grid-2{
	.array{
		ul{
			@media all and (max-width: $mediaq-tablet-max){
				width: 100%;
			}
		}
	}
}