.array{
	margin-bottom: 40px;

	ul{
		width: 645px;
		margin: 0 auto;
	}

	li{
		grid-template-columns: 135px 1fr;

		border-bottom: 1px solid $grey;

		&:first-child{
			border-top: 1px solid $grey;
		}
	}

	h3{
		margin-bottom: 0;
		padding: 15px;

		background-color: $greyLight;

		text-align: right;
		@include fontFamily('1');
		font-size: 18px;

	}

	p{
		margin-bottom: 0;
		padding: 15px;
	}
}