.btn{
	@include inline-block();
	height: 40px;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include fontFamily('1','b');
	font-size: $button;

	@media screen and (max-width: $mediaq-mobile-max) {
		display: block;
		height: 80px;

		font-size: 34px;
		line-height: 80px!important;
	}
}

// Full colored button
.btn-full{
	padding: 0 40px;

	line-height: 40px;
	color: $white;

	&.cta{
		background-color: $green;

		&:hover{
			background-color: $greenDark;
		}
	}

	&.cancel{
		background-color: $grey;
		&:hover{
			background-color: rgba($greyDark, 0.7);
		}
	}

	&.promotion{
		background-color: $coral;

		&:hover{
			background-color: $coralDark;
		}
	}

	&.is-inactive{
		background-color: rgba($grey, 0.7);

		&:hover{
			cursor: default;
		}	
	}

	&:hover{
		color: $white;
	}
}

// Bordered button
.btn-bordered{	
	padding: 1px 40px 0;
	border: solid 3px!important;
	line-height: 36px;	

	&:hover{
		padding: 0 39px;
		border: solid 4px;
	}

	&.other-light{
		border-color: $greyDark;
		color: $greyDark;
	}

	&.other-dark{
		border-color: $black;
		color: $black;
	}

	&.promotion{
		border-color: $coral;
		color: $coral;
	}

	&.medium-light{
		border-color: $green;
		color: $green;

		&:hover{
			border-color: $greenDark;
			color: $greenDark;
		}
	}

	&.medium-dark{
		border-color: $white;
		color: $white;

		&:hover{
			background-color: rgba($white,0.5);
		}
	}

	&.search-btn{
		border-color: $green;
		background-color: $white;
		color: $green;

		&:hover{
			border-color: $greenDark;
			color: $greenDark;
		}
	}
}


.carousel-text{
	.btn{
		width: 100%;
		@media screen and (min-width:$mediaq-tablet-min) and (max-width:$mediaq-tablet-max) {
			display: block;	
			max-width: 420px;
			margin: 0 auto;
		}
	}
}

.text-btn{
	.btn{
		min-width: 420px;
	}
}