.carousel-image{
	margin-bottom: 4rem;
	
	ul{
		width: 59rem;
		margin: 0 auto;
		@media all and (max-width: $mediaq-tablet-max){
			//width: 100%;
			margin: auto;
		}
	}

	img{
		width: 59rem;
		margin-bottom: 3rem;

		@media all and (max-width: $mediaq-tablet-max){
			width: 100%;
		}
	}
}

.owl-dots{
	text-align: center;

	.owl-dot{
		@include inline-block;

		span {
			@include border-radius(50%);
			display: block;
			content: " ";
			width: 1rem;
			height: 1rem;
			margin-right: 1.5rem;

			background-color: $grey;

			font-size: calc(#{$p} * 0.71); //10px

			@media screen and (max-width:$mediaq-mobile-max) {	
				width: 2rem;
				height: 2rem;
				margin-right: 4rem;
			}
		}

		&.active{
			span {
				background-color: $green;
			}
		}

		&:last-child{
			span{
				margin-right: 0;
			}
		}
	}
}

.owl-nav{
	position: absolute;
	top: calc((100% - 8.1rem) / 2);
	width: 100%;
	
	& > div{
		position: absolute;
		top: 0;
		display: block;
		width: 1.8rem;
		height: 3.1rem;

		background-color: $grey;
	    -webkit-mask: url(../img/svg/arrow.svg) left center no-repeat;
	    mask: url(../img/svg/arrow.svg) left center no-repeat;

		font-size: 0;

		@media screen and (max-width:$mediaq-mobile-max) {	
			width: 2.5rem;
			height: 4rem;
		}

		&.owl-prev{
			left: -6rem;

			@include scaleX(-1);
		}

		&.owl-next{
			right: -6rem;
		}
	}
}

.promotion{
	.owl-carousel{
		max-width: calc(#{$contentMax} - 6rem);

		@media screen and (max-width:$mediaq-tablet-max) {	
			max-width: calc(100% - 6rem);
		}

		@media screen and (max-width:$mediaq-mobile-max) {	
			max-width: calc(100% - 8rem);
		}
	}

	.owl-nav{
		top: 9rem;

		@media screen and (max-width:$mediaq-mobile-max) {	
			top: 19rem;
		}
		
		& > div{
			&.owl-prev{
				left: -1.5rem;
				@media screen and (max-width:$mediaq-mobile-max) {	
					left: 0;
				}
			}

			&.owl-next{
				right: -1.5rem;
				@media screen and (max-width:$mediaq-mobile-max) {	
					right: 0;
				}
			}
		}
	}

	li{
		margin: 0 auto;
	}

	p{
		margin-bottom: 0;
	}
}

.banner-carousel{

	&.banner-side{
		height: $bannerHeight;

		@media screen and (max-width:$mediaq-tablet-max) {
			width: calc(100% - #{$sidebar});
			height: 30rem;	
		}

		@media screen and (max-width:$mediaq-mobile-max) {
			
		}

		.owl-carousel{
			position: absolute;
			left: calc( ((100% - #{$contentMax}) / 2 ) + #{$sidebar} );
			width: calc( 100% - (((100% - #{$contentMax}) / 2 ) + #{$sidebar}));

			@media screen and (max-width:$mediaq-tablet-max) {	
				left: 0;
				width: 100%;
			}	
		}
	}


	.owl-dots{
		position: absolute;
		bottom: 1.5rem;
		width: 100%;
	}
}

.product{
	.owl-dots{
		@media screen and (max-width:$mediaq-mobile-max) {	
			margin-top: 2rem;
		}
	}
}

.carousel-text{
	grid-template-columns: 71.5rem 1fr;
	grid-column-gap: 3rem;

	ul{
		width: 71.5rem;
		height: 42rem;

		@media all and (max-width: $mediaq-3){
			margin: 0 auto 5rem;
		}

		@media all and (max-width: $mediaq-mobile-max){
			width: 100%;
			height: auto;
		}

	}

	@media all and (max-width: $mediaq-tablet-max){
		padding: 0 3rem;
	}

	@media all and (max-width: $mediaq-3){
		display: block;
	}

	.owl-dots{
		margin-top: 1rem;

		@media all and (max-width: $mediaq-mobile-max){
			margin-top: 3rem;
		}
	}
}

.quote{
	.owl-dots{
		padding-left: 38rem;
		
		@media screen and (max-width: $mediaq-mobile-max) {
			padding-left: 0;
		}
	}

	&.quote-side{
		.owl-dots{
			@media screen and (max-width: $mediaq-tablet-max) {
				padding-left: 0;
			}
		}
	}

	.owl-carousel{
		img{
			@media screen and (max-width: $mediaq-mobile-max) {
				width: 40rem;
				margin: 0 auto 3rem;
			}
		}
	}
}

.card{
	&.owl-carousel{
		li{
			margin-bottom: 2rem;
		}
	}
}

.bloc-range{
	.owl-nav{
		top: 21.5rem;
		width: calc(100% - 4rem);

		.owl-prev{
			left: -4rem;
		}

		.owl-next{
			right: 0;
		}
	}
}

.grid-2{
	.bloc-range{
		.owl-nav{
			width: 100%;

			.owl-prev{
				left: -4.6875vw;
			}

			.owl-next{
				right: -4.6875vw;
			}
		}
	}
}