.carousel-image{
	margin-bottom: 40px;
	
	ul{
		width: 590px;
		margin: 0 auto;
	}

	img{
		width: 590px;
		margin-bottom: 30px;
	}
}

.owl-dots{
	text-align: center;

	.owl-dot{
		@include inline-block;

		span {
			@include border-radius(50%);
			display: block;
			content: " ";
			width: 10px;
			height: 10px;
			margin-right: 15px;

			background-color: $grey;

			font-size: 10px;
		}

		&.active{
			span {
				background-color: $green;
			}
		}
	}
}

.owl-nav{
	position: absolute;
	top: calc((100% - 81px) / 2);
	width: 100%;
	
	& > div{
		position: absolute;
		top: 0;
		display: block;
		width: 18px;
		height: 31px;

		background:transparent url('../img/carousel-nav.png') left center no-repeat;
		font-size: 0;

		&.owl-prev{
			left: -60px;
		}

		&.owl-next{
			right: -60px;

			@include scaleX(-1);
		}
	}
}

.promotion{
	.owl-nav{
		top: 90px;
		
		& > div{
			&.owl-prev{
				left: 0;
			}

			&.owl-next{
				right: 0;
			}
		}
	}
}

.banner-carousel{
	.owl-dots{
		position: absolute;
		bottom: 15px;
		width: 100%;
	}
}