.carousel-image{
	margin-bottom: 40px;
	
	ul{
		width: 590px;
		margin: 0 auto;
		@media all and (max-width: $mediaq-tablet-max){
			//width: 100%;
			margin: auto;
		}
	}

	img{
		width: 590px;
		margin-bottom: 30px;

		@media all and (max-width: $mediaq-tablet-max){
			width: 100%;
		}
	}
}

.owl-dots{
	text-align: center;

	.owl-dot{
		@include inline-block;

		span {
			@include border-radius(50%);
			display: block;
			content: " ";
			width: 10px;
			height: 10px;
			margin-right: 15px;

			background-color: $grey;

			font-size: 10px;

			@media screen and (max-width:$mediaq-mobile-max) {	
				width: 20px;
				height: 20px;
				margin-right: 40px;
			}
		}

		&.active{
			span {
				background-color: $green;
			}
		}

		&:last-child{
			span{
				margin-right: 0;
			}
		}
	}
}

.owl-nav{
	position: absolute;
	top: calc((100% - 81px) / 2);
	width: 100%;
	
	& > div{
		position: absolute;
		top: 0;
		display: block;
		width: 18px;
		height: 31px;

		background:transparent url('../img/carousel-nav.png') left center no-repeat;
		font-size: 0;

		&.owl-prev{
			left: -60px;
		}

		&.owl-next{
			right: -60px;

			@include scaleX(-1);
		}
	}
}

.promotion{
	.owl-carousel{
		max-width: calc(#{$mediaq-desktop} - 60px);

		@media screen and (max-width:$mediaq-tablet-max) {	
			max-width: calc(100% - 60px);
		}

		@media screen and (max-width:$mediaq-mobile-max) {	
			max-width: calc(100% - 80px);
		}
	}

	.owl-nav{
		top: 90px;

		@media screen and (max-width:$mediaq-mobile-max) {	
			top: 190px;
		}
		
		& > div{
			&.owl-prev{
				left: -30px;
				@media screen and (max-width:$mediaq-mobile-max) {	
					left: 0;
				}
			}

			&.owl-next{
				right: -15px;
				@media screen and (max-width:$mediaq-mobile-max) {	
					right: 0;
				}
			}
		}
	}

	li{
		margin: 0 auto;
	}

	p{
		margin-bottom: 0;
	}
}

.banner-carousel{

	&.banner-side{
		height: 440px;

		.owl-carousel{
			position: absolute;
			left: calc( ((100% - #{$contentMax}) / 2 ) + #{$sidebar} );
			width: calc( 100% - (((100% - #{$contentMax}) / 2 ) + #{$sidebar}));	
		}
	}


	.owl-dots{
		position: absolute;
		bottom: 15px;
		width: 100%;
	}
}

.product{
	.owl-dots{
		@media screen and (max-width:$mediaq-mobile-max) {	
			margin-top: 20px;
		}
	}
}

.carousel-text{
	grid-template-columns: 715px 1fr;
	grid-column-gap: 30px;

	ul{
		width: 715px;
		height: 420px;

		@media all and (max-width: $mediaq-3){
			margin: 0 auto 50px;
		}

		@media all and (max-width: $mediaq-mobile-max){
			width: 100%;
			height: auto;
		}

	}

	@media all and (max-width: $mediaq-tablet-max){
		padding: 0 30px;
	}

	@media all and (max-width: $mediaq-3){
		display: block;
	}

	.owl-dots{
		margin-top: 10px;

		@media all and (max-width: $mediaq-mobile-max){
			margin-top: 30px;
		}
	}
}

.quote{
	.owl-dots{
		padding-left: 380px;
		
		@media screen and (max-width: $mediaq-mobile-max) {
			padding-left: 0;
		}
	}

	.owl-carousel{
		img{
			@media screen and (max-width: $mediaq-mobile-max) {
				width: 400px;
				margin: 0 auto 30px;
			}
		}
	}
}

.card{
	&.owl-carousel{
		li{
			margin-bottom: 20px;
		}
	}
}