.card{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& > li{
		position: relative;
		width: 28rem;
		margin-bottom: 3rem;
		padding-bottom: 6rem;

		background-color: $white;

		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;
			margin-bottom: 4rem;
			padding-bottom: 4rem;
		}
	}

	img{
		width: 28rem;
		height: 28rem;
		margin-bottom: 1rem;


		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;
			height: auto;
		}
	}

	h2{
		margin-bottom: 2rem;
	}

	p{
		padding: 0 1.5rem;

		@media screen and (max-width: $mediaq-mobile-max) {
			padding: 0 2rem;
		}
	}

	.card-place,
	.card-duration{
		padding: 0 4rem;
		@media screen and (max-width: $mediaq-mobile-max) {
			padding: 0 8rem;
		}
	}

	.btn{
		position: absolute;
		left: 4rem;
		bottom: 2rem;
		display: block;
		width: 20rem;
		padding: 0;

		@media screen and (max-width: $mediaq-mobile-max) {
			position: relative;
			bottom: auto;
			left: auto;
			width: calc(100% - 4rem);
			margin: 0 auto;
		}
	}

	@media screen and (max-width: $mediaq-tablet-max) {
			justify-content: space-around;
	}

	@media screen and (max-width: $mediaq-mobile-max) {
			padding: 4rem;
	}
}

.card-no-btn{
	& > li{
		padding-bottom: 2rem;
	}
}

.card-range{
	padding-top: 0;

	& > li{
		width: 42rem;
		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;
		}
	}

	img{
		width: 42rem;
		height: 29rem;
		border-bottom: 0.1rem solid $grey;
		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;
			height: auto;
		}
	}

	h3{
		margin: 1rem 0 2rem;
		padding: 0 1rem;

		font-size: $p;
		line-height: 1rem;
		font-weight: normal;
		color: $grey;

		@media screen and (max-width: $mediaq-mobile-max) {
			font-size: $pMobile;
			line-height: 3.6rem;
		}
	}

	h4{
		margin-bottom: 1rem;
		padding: 0 1.5rem;
		@include fontFamily('2','b');
		font-size: $h3;
		line-height: 2.7rem;
		color: $black;

		@media screen and (max-width: $mediaq-mobile-max) {
			font-size: $h3Mobile;
			line-height: 3.6rem;
		}
	}

	.btn{
		left: 11rem;

		@media screen and (max-width: $mediaq-mobile-max) {
			left: 0;
		}
	}
}

.card-date{
	text-align: center;
	color: $grey;
}

.card-place{
	position: relative;

	text-align: center;

	strong{
		display: block;
	}

	&:before{
		content: '';
		position: absolute;
		top: calc((100% - 2rem) / 2);
		left: 1rem;

		width: 1.4rem;
		height: 2rem;

		//background:transparent url('../img/geolocation.svg') left center no-repeat;
		background-color: $green;
	    -webkit-mask: url(../img/svg/geolocation.svg) left center no-repeat;
	    mask: url(../img/svg/geolocation.svg) left center no-repeat;

		@media screen and (max-width: $mediaq-mobile-max) {
			top: calc((100% - 4rem) / 2);
			left: 3rem;
			width: 2.8rem;
			height: 4rem;
		}
	}	
}

.card-duration{
	position: relative;
	margin-bottom: 0;

	text-align: center;

	@include fontFamily('1','b');
	font-size: calc(#{$p} * 1.14);
	line-height: 2.5rem;

	@media screen and (max-width: $mediaq-mobile-max) {
		margin-bottom: 3rem;

		font-size: calc(#{$pMobile} * 1.25);
		line-height: 4rem;
	}

	span{
		@include inline-block();
		width: 1.3rem;
		height: 2rem;
		margin: 0 0.5rem;

		background-color: $grey;
		background-size: 1.2rem 2rem;
	    -webkit-mask: url(../img/svg/arrow.svg) left center no-repeat;
	    mask: url(../img/svg/arrow.svg) left center no-repeat;

		text-indent: -9999px;
		vertical-align: text-bottom;

		@media screen and (max-width: $mediaq-mobile-max) {
			width: 1.9rem;
			height: 3rem;

			background-position: -13px 0;
		}
	}

	&:before{
		content: '';
		position: absolute;
		top: calc((100% - 2rem) / 2);
		left: 1rem;

		width: 2.2rem;
		height: 2rem;

		//background:transparent url('../img/calendar.svg') left center no-repeat;

		background-color: $green;
	    -webkit-mask: url(../img/svg/calendar.svg) left center no-repeat;
	    mask: url(../img/svg/calendar.svg) left center no-repeat;

		@media screen and (max-width: $mediaq-mobile-max) {
			top: calc((100% - 4rem) / 2);
			left: 3rem;
			width: 4.4rem;
			height: 4rem;
		}
	}
}

.card-title{
	//margin-top: 30px;
}

.card-full{
	padding-left: 0;

	@media screen and (max-width:$mediaq-mobile-max) {
		padding-left: 4rem;
	}
}

.full-grey{
	.card{
		padding-left: 0;

		@media screen and (max-width: $mediaq-tablet-max) {
			padding: 4rem 3rem;
		}
	}

	.card-range{
		justify-content: space-around;
	}
}

.grid-2{
	.card{
		padding: 4rem 0 1rem 4rem;
	}
}