.event{
	display: grid;
	grid-template-columns: 21rem 23.5rem 1fr;
	padding: 2rem 4rem;

	@media all and (max-width: $mediaq-tablet-max){
		border: 0.3rem solid $greyMedium;
	}

	@media all and (max-width: $mediaq-2){
		grid-template-columns: 1fr 1fr;
	}

	@media all and (max-width: $mediaq-6){
		display: block;
	}

	@media all and (max-width: $mediaq-mobile-max){
		padding: 4rem;
	}

	a{
		display: block;
		color: $grey;

		&.event-site{
			margin-bottom: 3rem;
			color: $green;
		}

		&.pdf{
			@include inline-block();
			margin-top: 2rem;
			color: $black;

			@media all and (max-width: $mediaq-2){
				display: block;
			}

			@media all and (max-width: $mediaq-6){
				@include inline-block();
			}

			@media all and (max-width: $mediaq-mobile-max){
				margin-top: 4rem;
			}
		}
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% - ((100% - #{$contentMax}) / 2) - #{$sidebar} - 0.6rem);
		height: 34rem;

		border: 0.3rem solid $greyMedium;

		z-index: 0;

		@media all and (max-width: $mediaq-tablet-max){
			display: none;
		}
	}

	& > div{
		z-index: 1;
	}
}

.event-1{
	padding-right: 3rem;

	border-right: 0.1rem solid $grey;

	@media all and (max-width: $mediaq-2){
		grid-column: 1/ span 2;
		grid-row : 1;
		justify-self: center;
		padding-right: 0;

		border-right: none;
	}

	@media all and (max-width: $mediaq-6){
		text-align: center;
	}

	@media all and (max-width: $mediaq-mobile-max){
		text-align: left;
	}

	img{
		width: 18rem;

		@media all and (max-width: $mediaq-6){
			display: block;
			margin: 0 auto;
		}

		@media all and (max-width: $mediaq-mobile-max){
			width: 100%;
		}
	}
}

.event-date{
	position: relative;
	padding: 10rem 3rem 0;

	border-right: 0.1rem solid $grey;

	@media all and (max-width: $mediaq-2){
		grid-column: 1;
		grid-row : 2;
		justify-self: flex-end;
	}

	@media all and (max-width: $mediaq-6){
		border-right: none;
		text-align: center;
	}

	@media all and (max-width: $mediaq-mobile-max){
		margin-bottom: 5rem;
		padding-top: 18rem;
	}

	p{
		@include inline-block();
		@include fontFamily('1','b');
		font-size: calc(#{$p} * 1.14); //16px
		line-height: 2.5rem;

		@media all and (max-width: $mediaq-mobile-max){
			font-size: calc(#{$pMobile} * 1.17); //28px
		}

		span{
			display: block;
			
			//background:transparent url('../img/svg/clock.svg') left center no-repeat;

			font-size: $p;
			font-weight: normal;
			color: $grey;

			@media all and (max-width: $mediaq-mobile-max){
				margin-top: 2rem;

				//background-image: url('../img/clock-mobile.png');

				font-size: calc(#{$p} * 1.71); //24px
				line-height: 3rem;
			}

			svg{
				width: 1.5rem;
				height: 1.5rem;

				margin-right: 0.5rem;
				
				vertical-align: text-top;
				fill: $grey;

				@media all and (max-width: $mediaq-mobile-max){
					width: 3rem;
					height: 3rem;
				}
			}
		}

		&:nth-child(3){
			width: 1.3rem;
			height: 2rem;
			margin: 0.2rem 0.1rem;
			//background:transparent url('../img/svg/arrow.svg') 0 0 no-repeat;
			background-color: $grey;
			background-size: 1.2rem 2rem;
		    -webkit-mask: url(../img/svg/arrow.svg) left center no-repeat;
		    mask: url(../img/svg/arrow.svg) left center no-repeat;

			text-indent: -9999px;

			@media screen and (max-width: $mediaq-mobile-max) {
				width: 1.9rem;
				height: 3rem;
				margin: -0.2rem 1.5rem;
			}
		}
	}
}

.event-date-bg{
	position: absolute;
	top: 0;
	left: calc((100% - 8.3rem) / 2);

	display: block;
	width: 8.3rem;
	height: 8.3rem;
	padding: 2rem;

	border: 0.3rem solid $green;
	@include border-radius(50%);

	svg{
		fill: $green;
	}

	@media all and (max-width: $mediaq-mobile-max){
		left: calc((100% - 15.3rem) / 2);
		width: 15.3rem;
		height: 15.3rem;
		padding: 4rem;
	}
}


.event-place{
	position: relative;
	padding-top: 10rem;
	padding-left: 3rem;

	@media all and (max-width: $mediaq-2){
		grid-column: 2;
		grid-row : 2;
	}

	@media all and (max-width: $mediaq-mobile-max){
		padding-top: 17rem;
	}

	p{
		margin-bottom: 1rem;

		@media all and (max-width: $mediaq-6){
			text-align: center;
		}
	}

	a{
		@media all and (max-width: $mediaq-6){
			text-align: center;
		}
	}
}

.event-place-bg{
	position: absolute;
	top: 0;
	left: calc((100% - 8.3rem) / 2);

	display: block;
	width: 8.3rem;
	height: 8.3rem;
	padding: 2rem;

	border: 0.3rem solid $green;
	@include border-radius(50%);

	text-align: center;

	svg{
		height: 4rem;
		fill: $green;

		@media all and (max-width: $mediaq-mobile-max){
			height: 7rem;
		}
	}

	@media all and (max-width: $mediaq-mobile-max){
		left: calc((100% - 15.3rem) / 2);
		width: 15.3rem;
		height: 15.3rem;
		padding: 4rem;
	}
}

.event-full{
	grid-template-columns: 1fr 1fr 1fr;
	border: 0.3rem solid $greyMedium;

	@media all and (max-width: $mediaq-2){
		grid-template-columns: 1fr 1fr;
	}

	&:after{
		display: none;
	}

	.event-1{
		text-align: center;
	}

	.event-date{
		padding-top: 12rem;
		text-align: center;

		&:before{
			left: calc((100% - 9.3rem) / 2);

			@media all and (max-width: $mediaq-mobile-max){
				left: calc((100% - 15rem) / 2);
			}
		}

		@media all and (max-width: $mediaq-mobile-max){
			padding-top: 18rem;
		}
	}
}