.event{
	display: grid;
	grid-template-columns: 210px 235px 1fr;
	margin-bottom: 60px;
	padding: 20px 40px;

	@media all and (max-width: $mediaq-tablet-max){
		border: 3px solid $greyMedium;
	}

	@media all and (max-width: $mediaq-2){
		grid-template-columns: 1fr 1fr;
	}

	@media all and (max-width: $mediaq-6){
		display: block;
	}

	@media all and (max-width: $mediaq-mobile-max){
		padding: 40px;
	}

	a{
		display: block;
		color: $grey;

		&.event-site{
			margin-bottom: 30px;
			color: $green;
		}

		&.pdf{
			@include inline-block();
			margin-top: 20px;
			color: $black;

			@media all and (max-width: $mediaq-2){
				display: block;
			}

			@media all and (max-width: $mediaq-6){
				@include inline-block();
			}

			@media all and (max-width: $mediaq-mobile-max){
				margin-top: 40px;
			}
		}
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% - ((100% - #{$contentMax}) / 2) - #{$sidebar} - 6px);
		height: 340px;

		border: 3px solid $greyMedium;

		z-index: 0;

		@media all and (max-width: $mediaq-tablet-max){
			display: none;
		}
	}

	& > div{
		z-index: 1;
	}
}

.event-1{
	padding-right: 30px;

	border-right: 1px solid $grey;

	@media all and (max-width: $mediaq-2){
		grid-column: 1/ span 2;
		grid-row : 1;
		justify-self: center;
		padding-right: 0;

		border-right: none;
	}

	@media all and (max-width: $mediaq-6){
		text-align: center;
	}

	@media all and (max-width: $mediaq-mobile-max){
		text-align: left;
	}

	img{
		width: 180px;

		@media all and (max-width: $mediaq-6){
			display: block;
			margin: 0 auto;
		}

		@media all and (max-width: $mediaq-mobile-max){
			width: 100%;
		}
	}
}

.event-date{
	position: relative;
	padding: 100px 30px 0;

	border-right: 1px solid $grey;

	@media all and (max-width: $mediaq-2){
		grid-column: 1;
		grid-row : 2;
		justify-self: flex-end;
	}

	@media all and (max-width: $mediaq-6){
		border-right: none;
		text-align: center;
	}

	@media all and (max-width: $mediaq-mobile-max){
		margin-bottom: 50px;
		padding-top: 180px;
	}


	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width: 47px;
		height: 47px;
		padding: 20px;

		border: 3px solid $green;
		@include border-radius(50%);

		background:transparent url('../img/calendar.svg') center center no-repeat;
		background-size: 40px 36px;

		@media all and (max-width: $mediaq-6){
			left: calc((100% - 87px) / 2);
		}

		@media all and (max-width: $mediaq-mobile-max){
			left: calc((100% - 150px) / 2);
			width: 90px;
			height: 90px;
			padding: 30px;
			background-size: 72px 65px;
		}
	}

	p{
		@include inline-block();
		@include fontFamily('1','b');
		font-size: 16px;
		line-height: 25px;

		@media all and (max-width: $mediaq-mobile-max){
			font-size: 28px;
		}

		span{
			display: block;
			padding-left: 20px;
			
			background:transparent url('../img/clock.png') left center no-repeat;

			font-size: $p;
			font-weight: normal;
			color: $grey;

			@media all and (max-width: $mediaq-mobile-max){
				margin-top: 20px;
				padding-left: 40px;

				background-image: url('../img/clock-mobile.png');

				font-size: 24px;
				line-height: 30px;
			}
		}

		&:nth-child(2){
			width: 13px;
			height: 20px;
			margin: 2px 1px;
			background:transparent url('../img/next.png') 0 0 no-repeat;
			text-indent: -9999px;

			@media screen and (max-width: $mediaq-mobile-max) {
				width: 19px;
				height: 30px;
				margin: -2px 15px;
				background-position: -13px 0;
			}
		}
	}
}

.event-place{
	position: relative;
	padding-top: 100px;
	padding-left: 30px;

	@media all and (max-width: $mediaq-2){
		grid-column: 2;
		grid-row : 2;
	}

	@media all and (max-width: $mediaq-mobile-max){
		padding-top: 170px;
	}

	&:before{
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width: 47px;
		height: 47px;
		padding: 20px 18px;

		border: 3px solid $green;
		@include border-radius(50%);

		background:transparent url('../img/geolocation.svg') center center no-repeat;
		background-size: 28px 40px;

		@media all and (max-width: $mediaq-6){
			left: calc((100% - 87px) / 2);
		}

		@media all and (max-width: $mediaq-mobile-max){
			left: calc((100% - 150px) / 2);
			width: 90px;
			height: 90px;
			padding: 30px;
			background-size: 50px 72px;
		}
	}

	p{
		margin-bottom: 10px;

		@media all and (max-width: $mediaq-6){
			text-align: center;
		}
	}

	a{
		@media all and (max-width: $mediaq-6){
			text-align: center;
		}
	}
}

.event-full{
	grid-template-columns: 1fr 1fr 1fr;
	border: 3px solid $greyMedium;

	@media all and (max-width: $mediaq-2){
		grid-template-columns: 1fr 1fr;
	}

	&:after{
		display: none;
	}

	.event-1{
		text-align: center;
	}

	.event-date{
		padding-top: 120px;
		text-align: center;

		&:before{
			left: calc((100% - 93px) / 2);

			@media all and (max-width: $mediaq-mobile-max){
				left: calc((100% - 150px) / 2);
			}
		}

		@media all and (max-width: $mediaq-mobile-max){
			padding-top: 180px;
		}
	}
}