footer{
	border-top: 0.1rem solid $grey;
}

.footer-top{
	display: flex;
    flex-flow: row;
    flex-wrap: wrap;
	margin-bottom: 3rem;
	padding-top: 3rem;

	@media all and (min-width: $mediaq-tablet-min) and (max-width: $mediaq-tablet-max){
		padding: 3rem;
	}

	@media all and (max-width: $mediaq-mobile-max){
		display: block;
	}

	& > nav,
	& > div{
		@include inline-block();

		@media all and (max-width: $mediaq-mobile-max){
			display: block;
			margin-bottom: 6rem;

		}
	}
}

.footer-link{
	flex: 2;
	margin-right: 5%;

	ul{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 3rem;

		@media all and (max-width: $mediaq-mobile-max){
			display: block;
			text-align: center;
		}
	}

	li{
		padding-right: 1rem;
		padding-bottom: 2rem;
		border-right: 0.1rem dotted #505050;

		@media all and (max-width: $mediaq-mobile-max){
			@include inline-block();
			position: relative;
			margin-bottom: 1rem;
			padding: 0 1.5rem;
			border-right: none;
		}

		&:after{
			@media all and (max-width: $mediaq-mobile-max){
				content: '.';
				position: absolute;
				right: 0;
				width: 0.1rem;
				font-size: $pMobile;
				color: $greyDark
			}
		}

		&:last-child{
			&:after{
				@media all and (max-width: $mediaq-mobile-max){
					content: '';
				}
			}
		}
	}

	a{
		color: $greyDark;

		&:hover{
			color: $black;
		}
	}
}

.footer-language{
	flex:1;

	margin-right: 5%;

	@media all and (max-width: $mediaq-mobile-max){
		margin: 0 4rem;
		text-align: center;
	}

	label{
		font-weight: 700;

		color: $black;
	}

	select{
		display: block;	
		width: 29rem;

		margin: 0.5rem 0 0 2rem;

		border: none;

		font-weight: normal;
		cursor: pointer;
		@include appearance(none);

		@media all and (max-width: $mediaq-mobile-max){
			width: 100%;
			height: 6rem;

			margin: 2rem 0 0;
		}
	}
}

.footer-socials{
	flex:1;

	@media all and (min-width: $mediaq-tablet-min) and (max-width: $mediaq-4){
		flex: 1 100%;

		margin-top: 4rem;

		text-align: center;
	}

	p{
		margin-bottom: 0;
		font-weight: 700;

		@media all and (min-width: $mediaq-tablet-min) and (max-width: $mediaq-4){
			text-align: center;
		}

		@media all and (max-width: $mediaq-mobile-max){
			margin-bottom: 2rem;
			text-align: center;
		}
	}

	ul{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 1rem;
		grid-column-gap: 1.5rem;

		margin-top: 0.5rem;
		margin-left: 1.5rem;

		@media all and (min-width: $mediaq-tablet-min) and  (max-width: $mediaq-4){
			width: 20.5rem;

			margin: 0.5rem auto;
		}

		@media all and (max-width: $mediaq-mobile-max){
			width: 40rem;
			margin: 0.5rem auto;
		}
	}

	a {
	    display:block;
	    width: 4rem;
	    height: 4rem;

	    padding: 0;

	    border-right: none;

	    @media all and (max-width: $mediaq-mobile-max){
	    	width: 8rem;
			height: 8rem;
			background-image: url(../img/socials_mobile.jpg);
	    }

	    &:hover{

			.linkedin{
				fill: #0076b3;
			}

			.twitter{
				fill: #1da1f2;
			}

			.google{
				fill: #dc4e41;
			}

			.facebook{
				fill: #3d5a98;
			}

			.slideshare{
				fill: #50989a;
			}

			.instagram{
				fill: #C81482;
			}

			.pinterest{
				fill: #ca2027;
			}

			.youtube{
				fill: #DD2D2F;
			}
	    }
	}

	.socialBg{
		fill: $grey;
	}

	.socialFill{
		fill: $white;
	}


		
}
