.form{
	background-color: $white;
}

.form-title{
	height: 6rem;
	margin-bottom: 4.5rem;

	background-color: $green;

	text-align: center;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 6rem;

		background-color: $green;

		z-index: -1;
	}

	span{
		position: relative;
		text-transform: uppercase;
		@include fontFamily('1','b');
		font-size: calc(#{$p} * 1.71); //24px
		line-height: 6rem;
		color: $white;
		@media screen and (max-width: $mediaq-mobile-max) {
			font-size: calc(#{$pMobile} * 1.5); //36px
			line-height: 4.4rem;
		}

		&:after{
		  content:'';
		  position: absolute;
		  bottom: -4rem;
		  left: 9.9rem;
		  width: 0; 
		  height: 0; 

		  border-left: 4rem solid transparent;
		  border-right: 4rem solid transparent;
		  border-top: 2.5rem solid $green;

		  @media screen and (max-width: $mediaq-tablet-max) {
			left: 10rem;
		  }

		  @media screen and (max-width: $mediaq-mobile-max) {
		  	//top: 80px;
			left: calc((100% - 8rem) / 2);
		  }
		}
	}

	@media screen and (max-width: $mediaq-mobile-max) {
		position: relative;
		height: 8rem;

		font-size: calc(#{$pMobile} * 1.5); //36px
		line-height: 8rem;
	}	
}

.form-body{
	padding-right: 2rem;

	@media screen and (max-width: $mediaq-tablet-max) {
		padding: 0 2rem;
	}

	@media screen and (max-width: $mediaq-mobile-max) {
		padding: 0 4rem;
	}
}

.phone{
	padding-left: 5rem;
	padding-right: 2rem;

	background:transparent url('../img/svg/phone.svg') left center no-repeat;

	@include fontFamily('2','b');
	font-size: calc(#{$p} * 1.43); //20px
	line-height: 3.2rem;


	@media screen and (max-width:$mediaq-tablet-max) {
		margin-left: 2rem;	
		padding-left: 4rem;	
	}

	@media screen and (max-width: $mediaq-mobile-max) {
		margin-left: 4rem;
		margin-bottom: 4rem;
		padding-left: 8rem;	

		font-size: calc(#{$pMobile} * 1.33); //32px
		line-height: 6rem;
	}	
}

.form-file{
	position: relative;
}

.form-file-label{
	position: relative;

	background-color: $white;

	z-index: 1;

	@media screen and (max-width: $mediaq-mobile-max) {
		margin-bottom: 4rem;
	}
}

.form-checkbox, 
.form-radio{
	display: block;

	label{
		@include inline-block();
		@media screen and (max-width: $mediaq-mobile-max) {
   			max-width: calc(100% - 11rem);
   		}

	}
}

.form-sidebar{
	padding-bottom: 4rem;

	border-right: 0.2rem solid $green;

	@media screen and (max-width: $mediaq-mobile-max) {
		border-right: none;
	}

	&:before{
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: $white;

		z-index: -1;

		@media screen and (max-width: $mediaq-mobile-max) {
			display: none;
		}	
	}	

	form{
		padding-right: 2rem;

			@media screen and (max-width: $mediaq-tablet-max) {
				padding-left: 2rem;		
			}

			@media screen and (max-width: $mediaq-mobile-max) {
				padding: 0 4rem;
			}	
	}

	textarea{
		height: 11.5rem;

		resize: none;
	}

	 select{
		padding: 0.6rem 0 0.6rem 1rem;
	}
}

.form-full{
	text-align: center;

	form{
		text-align: left;
		max-width: 73rem;
		margin: 0 auto;
		@media screen and (max-width: $mediaq-mobile-max) {
			max-width: 100%;
			padding: 0 4rem;
		}
	}

	fieldset{
		& > div{
			@include inline-block();
			width: 35rem;

			&:nth-child(2n){
				margin-right: 2.6rem;
			}

			@media screen and (max-width: $mediaq-mobile-max) {
				display: block;
				width: 100%;
			}

		}
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	select{
		width: 35rem;

		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;
		}
	}

	.phone{
		@include inline-block();
	}

	.form-checkbox,
	.form-radio{
		&:nth-child(2n){
			padding-left: 4rem;
		}

		@media screen and (max-width: $mediaq-mobile-max) {
			padding-left: 4rem;
		}
	}

	textarea{
		height: 11.5rem;
	}

	input[type="submit"]{
		display: block;
		width: auto;
		min-width: 26rem;
		margin: 0 auto 2rem;


		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;
		}
	}
}

.form-fieldset-second{
	legend{
		@include fontFamily('2');
		font-size: $p;
		line-height: 2.5rem;

		@media screen and (max-width: $mediaq-mobile-max) {
			text-align: left;
			font-weight: 700;
			font-size: $pMobile;
			line-height: 4rem;
		}
	}
}