.product{
	.grid{
		grid-template-columns: 1fr 59rem;
		grid-column-gap: 3rem;

		@media screen and (max-width:$mediaq-5){	
			display: block;
			text-align: center;
		}
	}


	p{
		@media screen and (max-width:$mediaq-5){
			text-align: center;
		}
	}

	@media screen and (max-width:$mediaq-tablet-max){	
		padding: 0 3rem;
	}

	@media screen and (max-width:$mediaq-mobile-max){
		padding: 0;
	}

}

.grid-2{
	.product{
		.grid{
			@media screen and (max-width:$mediaq-tablet-max){
				display: block;
				text-align: center;
			}
		}
	}
}

.product-text{
	@media screen and (max-width:$mediaq-5){
		margin-bottom: 4rem;
	}

	@media screen and (max-width:$mediaq-mobile-max){
		padding: 0 4rem;
	}
}

.product-library{
	li{
		@include inline-block();
		margin-right: 1rem;
		&:first-child{
			display: block;
			margin-bottom: 1rem;
			
			img{
				width: 59rem;
				height: 22.5rem;

				@media screen and (max-width:$mediaq-mobile-max){
					width: 100%;
					height: auto;
				}
			}

			@media screen and (max-width:$mediaq-mobile-max){
				margin-bottom: 0;
			}
		}

		&:last-child{
			margin-right: 0;
		}

		img{
			width: 13.7rem;
			height: 13.7rem;
			@media screen and (max-width:$mediaq-mobile-max){
				width: 100%;
				height: auto;
			}
		}

		@media screen and (max-width:$mediaq-mobile-max){
			display: block;
			margin: 0;
		}
	}
}

.grid-2{
	.product-library{
		ul{
			@media screen and (max-width:$mediaq-tablet-max){
				text-align: center;
			}

			@media screen and (max-width:$mediaq-mobile-max){
				width: 87.5vw;
				margin: 0 auto;
			}
		}
		li{
			&:first-child{	
				img{
					@media screen and (max-width:$mediaq-tablet-max){
						width: 100%;
					}
				}
			}
		}
	}
}