.quote{
	
	li{
		grid-template-columns: 320px 1fr;
		grid-gap: 30px;

		padding-bottom: 15px;

		@media screen and (max-width: $mediaq-mobile-max) {
			display: block;
			padding: 0 40px 25px;
		}	
	}

	img{
		width: 320px;
		padding: 5px;
		
		@include border-radius(50%);
		border: 3px solid $green;
	}

	@media screen and (max-width: $mediaq-tablet-max) {
		padding: 0 30px;
	}
	@media screen and (max-width: $mediaq-mobile-max) {
		padding: 0;
	}
}
.quote-text{
	padding-left: 30px;

	background:transparent url('../img/quote.png') left top no-repeat;

	text-align: center;

	p{
		text-align: center;

		font-size: 20px;
		line-height: 30px;

		@media screen and (max-width: $mediaq-mobile-max) {
			font-size: 24px;
			line-height: 36px;
		}
	}

	a{
		color: $grey;

		&:hover{
			color: $greyDark;
		}
	}
}

.quote-author{
	margin-bottom: 0;
	font-weight: 700;
}

.quote-role{
	font-style: italic;
	color: $grey;
}

.quote-side{

	.owl-carousel{
		padding-left: 30px;
		width: calc(#{$contentMax} - #{$sidebar});	
	}
}