.quote{
	
	li{
		grid-template-columns: 32rem 1fr;
		grid-gap: 3rem;

		padding-bottom: 1.5rem;

		@media screen and (max-width: $mediaq-mobile-max) {
			display: block;
			padding: 0 4rem 2.5rem;
		}	
	}

	img{
		width: 32rem;
		padding: 0.5rem;
		
		@include border-radius(50%);
		border: 0.3rem solid $green;
	}

	@media screen and (max-width: $mediaq-tablet-max) {
		padding: 0 3rem;
	}
	@media screen and (max-width: $mediaq-mobile-max) {
		padding: 0;
	}
}
.quote-text{
	position: relative;

	padding-left: 3rem;

	text-align: center;

	p{
		text-align: center;

		font-size:  calc(#{$p} * 1.43); //20px
		line-height: 3rem;

		@media screen and (max-width: $mediaq-mobile-max) {
			font-size: $pMobile;
			line-height: 3.6rem;
		}
	}

	a{
		color: $grey;

		&:hover{
			color: $greyDark;
		}
	}
}

.quote-author{
	margin-bottom: 0;
	font-weight: 700;
}

.quote-role{
	font-style: italic;
	color: $grey;
}

.quote-bg{
	position: absolute;
	top: 0;
	left: 0;

	width: 14.8rem;
	height: 11.9rem;

	fill:none;
	stroke:$green;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:0.5px;
	z-index: 0;
}

.quote-side{

	.owl-carousel{
		padding-left: 3rem;
		width: calc(#{$contentMax} - #{$sidebar});	
	}
}