.related{
	height: fit-content;
	padding-right: 2rem;

	.h2-title{
		padding-top: 4rem;
	}

	img{
		width: 100%;
		margin-bottom: 1.5rem;
	}

	a{
		display: block;
		margin-bottom: 1.5rem;
		font-weight: 700;
	}

	@media screen and (max-width:$mediaq-tablet-max) {
		padding: 0 2rem;		
	}

	@media screen and (max-width: $mediaq-mobile-max) {
		margin-bottom: 0;
		padding: 0 4rem;
	}	
}

.related-content{
	height: fit-content;

	//border-right: 0.2rem solid $white;

}

.related-menu{
	//border-right: 0.2rem solid $white;
	background-color: $greyMedium;
	&:before{
		background-color: $greyMedium;
	}

	a{
		text-decoration: none;
		font-weight: normal;

		&.is-active{
			text-decoration: underline;
			font-weight: 700;
		}
	}
}