.tabs{
	
	@media screen and (max-width: $mediaq-tablet-max) {
		padding: 0 3rem;
	}
}

.tabs-list{
	grid-template-columns: repeat(auto-fit, minmax(25% , 1fr));
	
	margin-bottom: 3rem;
	padding-bottom: 0.5rem;

	border-bottom: 0.3rem solid $greyMedium;

	li{
		text-align: center;

		&.ui-state-active{
			&:after{
				content: "";
				position: relative;
				bottom: -0.9rem;
				display: block;
				width: 100%;
				border-bottom: 0.5rem solid $green;
			}
		}
	}

	a{
		text-decoration: none;

		@include fontFamily('1');
		font-size: calc(#{$p} * 1.43); //20px
		line-height: 2.4rem;
	}
}

.tabs-bloc{
	grid-template-columns: 55rem 1fr;
	grid-gap: 4rem;

	@media screen and (max-width: $mediaq-5) {
		display: block;	
	}

	h2{
		text-align: left;
	}

	img{
		width: 55rem;
		@media screen and (max-width: $mediaq-5) {
			display: block;
			margin: 0 auto 3rem;
		}

		@media screen and (max-width: $mediaq-mobile-max) {
			width: 100%;	
		}
	}

	&.odd{
		grid-template-columns: 1fr 55rem;

		img{
			grid-column: 2;
			grid-row: 1;
		}

		.tabs-text{
			grid-column: 1;
			grid-row: 1;
		}
	}

	&.even{
		.tabs-text{
			h2{
				text-align: right;
					@media screen and (max-width: $mediaq-5) {
						text-align: left;
					}
			}

			p{
				text-align: right;
				@media screen and (max-width: $mediaq-5) {
					text-align: left;
				}
			}
		}
	}
}

.tabs-accordeon{
	padding: 0;
	& > h2{
		padding: 0 4rem;

		border-bottom: 0.3rem solid $greyMedium;

		text-align: left;

		a{
			position: relative;

			display: block;
			margin-bottom: 1.5rem;

			text-align: left;
			text-decoration: none;
			
			font-size: calc(#{$p} * 2.14); //30px

			&:after{
				content:'';
				position: absolute;
				top: calc((100% - 2.6rem) / 2);
				right: 0;
				display: block;
				width: 25px;
				height: 26px;
				background:transparent url('../img/plus_minus.png') 0 0 no-repeat;

			}
		}

		span{
			padding-bottom: 1.4rem;
		}

		

		&.ui-state-active{
			a{
				&:after{
					top: calc((100% - 0.6rem) / 2);
					height: 0.6rem;
					background-position: 0 -2.8rem;

				}
			}

			span{
				border-bottom: 0.5rem solid $green;
			}
		}
	}

	.tabs-bloc{
		padding: 0 4rem;
	}
}