.tag{
	margin-bottom: 3rem;
	text-align: center;

	li{
		@include inline-block();

	}

	a{
		display: block;
		padding: 0 1rem;
		
		background-color: $greyLight;

		text-decoration: none;

		&:hover{
			background-color: $grey;
			color: initial;
		}

		@media screen and (max-width:$mediaq-mobile-max) {
			margin-right: 2rem;
			margin-bottom: 2rem;
		}
	}

	@media screen and (max-width:$mediaq-mobile-max) {
			margin-bottom: 4rem;
			padding: 0 4rem;
	}
}


.card{
	.tag{
		padding: 0 1.5rem;
		text-align: left;
		li{
			margin-bottom: 0.7rem;
		}
	}
}