.text{
	margin-bottom: 30px;
	padding: 40px 0 0;

	@media screen and (max-width: $mediaq-tablet-max){
		margin-bottom: 30px;
		padding: 40px 30px 0;
	}

	@media screen and (max-width:$mediaq-mobile-max) {
		padding: 0 40px;	
		margin-bottom: 60px;	
	}
}

.text-center{
	text-align: center;
}

.grid-2{
	.text{
		padding: 0 0 0 30px;

		@media screen and (max-width:$mediaq-tablet-max) {
			padding: 0 30px;		
		}

		@media screen and (max-width:$mediaq-mobile-max) {
			padding: 0 40px;		
		}
	}
}

.text-img-alt{
	img{
		width: 350px;
		margin-bottom: 20px;

		@media screen and (max-width:$mediaq-mobile-max) {
			width: 100%;		
		}
	}

	.odd{
		img{
			float: left;
			margin-right: 20px;
			@media screen and (max-width:$mediaq-mobile-max) {
				float: none;
				margin-right: 0;
			}
		}
	}

	.even{
		img{
			float: right;
			margin-left: 20px;
			@media screen and (max-width:$mediaq-mobile-max) {
				float: none;
				margin-left: 0;
			}
		}
	}
}

.text-img-link{
	display: grid;
	grid-template-columns: 1fr 530px;
	grid-column-gap: 30px;

	h2{
		grid-row : 1;	
		grid-column : 1/ span 2;
	} 

	& > div{
		grid-column: 1;
		grid-row : 2;
	}

	img{
		grid-column: 2;
		grid-row : 2;
		
		width: 530px;

		@media screen and (max-width:$mediaq-mobile-max) {
			width: 100%;
		}
	}

	@media screen and (max-width:$mediaq-mobile-max) {
		display: block;
	}
}

.center{
	&.text{
		p{
			//text-align: center;
		}
	}
}

.text-alt{
	margin-top: 60px;
	.text{
		margin-bottom: 0;
		padding-bottom: 40px;
		border-bottom: 1px solid $grey;
	}

	li{
		&:last-child{
			.text{
				border-bottom: none;
			}
		}

		&:nth-child(2n){
			.text{
				img{
					grid-column: 1;
				}

				& > div{
					grid-column : 2;
				}
			}
		}
	}
}