$videoPlayWidth: 133px;
$videoPlayHeight: 133px;

.video{
	height: $videoHeight;

	@media screen and (max-width: $mediaq-tablet-max) {
		position: relative;
		height: auto;

		.video-play{
			position: absolute;
			top: auto;
			bottom: calc((330px - #{$videoPlayHeight}) / 2);
			left: calc((100% - #{$videoPlayWidth}) / 2);
		}
	}
}

.video-play{
	position: relative;
	top: calc((100% - #{$videoPlayHeight}) / 2);
    left: calc((100%  - #{$videoPlayWidth}) / 2);

	@include inline-block();
	width: $videoPlayWidth;
	height: $videoPlayHeight;

	background-image: url('../img/video-play.png');

	cursor: pointer;
}

.video-text{
	top: 0;
	left: calc((100% - #{$overlayMaxWidth} - #{$videoPlayWidth}) / 2);

}

.video-iframe{
	display: none;
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;		
}



.banner-full{
	.video-play{
		position: absolute;
		top: calc((100% - #{$videoPlayHeight}) / 2);
	    left: calc(((100% - #{$contentMax}) / 2 ) + #{$overlayMaxWidth} + ((#{$contentMax} - #{$overlayMaxWidth}) / 2) - (#{$videoPlayWidth} / 2));
		
		@media screen and (max-width: $mediaq-mobile-max) {
			display: none;
		}
	}

	.video-iframe{
		width: 650px;	
		height: $bannerHeight;	
		left: calc(((100% - #{$contentMax}) / 2 ) + #{$overlayMaxWidth});
	}
}

.video-show{
	.overlay{
		background-color: transparent;
	}

	.full-img{
		background-image: none;
		background-color: rgba($black, 0.5);
	}
}