<!--
	Add class to specify banner behaviour:
		.banner : layout for global style
		.banner-full : width 100% for banner
		.video: type video of banner

	To specify video behaviour, add <div class="video-play"></div> ans class:
		.video-play : global style for play button
		.video-full : specific position when banner is 100% 
		.video-show: allw iframe to be shown after click on .video-play
-->


<!-- BANNER FOR #TOP PART WITH H1 -->
<div class="banner banner-full">
	<div class="overlay">
		<div>
			<h1>Corporate Social Responsibility</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
			<a href="#form" class="btn btn-bordered medium-dark">Link to form</a>
		</div>
	</div>
	<div class="full full-img"></div>
	<div class="video-play"></div>
</div>

<!-- BANNER FOR #MIDDLE PART WITH H2 -->

<div class="banner video video-show">
	<div class="overlay">
		<div>
			<h2 class="dark">Corporate Social Responsibility</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
			<a href="#" class="btn btn-bordered medium-dark">Link to other</a>
		</div>
	</div>
	<div class="full full-img"></div>
	<div class="video-play"></div>
	<iframe class="video-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
</div>