<ul class="card">
	<li>
		<img src="img/560x560.jpg" alt="Neopost Worldwide">
		<h2><a href="#">Neopost Worldwide</a></h2>
		<p>Neopost’s network of partners and subsidiaries spans the globe and, thanks to our decentralized structure, each entity has considerable autonomy.  This means subsidiaries can use their local knowledge to adapt products and services to each country’s regulations and environmental standards. From postage machines to customer...</p>
		<a href="#" class="btn btn-bordered medium-light">See more</a>
	</li>
</ul>

<ul class="center card card-no-btn">
	<li>
		<img src="img/560x560.jpg" alt="Who we are">
		<h2><a href="#">Ontario Government Organization Boosts Mail Productivity with Neopost</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non varius elit. Vestibulum pulvinar tincidunt ligula, non lacinia augue volutpat vitae. Lorem ipsum ...</p>
		<a href="#" class="more">Read more</a>
	</li>
	<li>
		<img src="img/560x560.jpg" alt="Neopost Worldwide">
		<h2><a href="#">Mailing Company Boosts Productivity with Output Management Software</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non varius elit. Vestibulum pulvinar tincidunt ligula, non lacinia augue volutpat vitae. Lorem ipsum ...</p>
		<a href="#" class="more">Read more</a>
	</li>
	<li>
		<img src="img/560x560.jpg" alt="Careers">
		<h2><a href="#">ProShip Accelerates Business for Fifth Gear</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non varius elit. Vestibulum pulvinar tincidunt ligula, non lacinia augue volutpat vitae. Lorem ipsum ...</p>
		<a href="#" class="more">Read more</a>
	</li>
</ul>		