<div class="event">
	<div class="event-1">
		<img src="img/690x435.jpg" alt="drupa">
		<a href="files/doc.pdf" class="center pdf">Lorem ipsum dolor est (brochure)</a>
	</div>
	<div class="event-date">
		<p>31/05/2018<span>8:30am</span></p>
		<p>to</p>
		<p>10/06/2018<span>6:30pm</span></p>
		<a href="#">Add to calendar</a>
	</div>
	<div class="event-place">
		<p><strong>8020, Hall 3</strong></p>
		<p>AsiaWorld-Expo Management Limited</p>
		<p>Lantau, Hong Kong China</p>
		<a href="#" class="event-site">Drupa 2018</a>
		<a href="#">See on the map</a>
	</div>
</div>