<div id="accordion" class="center tabs tabs-accordeon">
	<h2><a href="#"><span>Slogan Library</span></a></h2>
	<div>
		<div class="grid tabs-bloc odd">
	    	<img src="img/550x400.jpg" alt="features 1 1">
	        <div class="tabs-text">
	            <h2>Feature #1: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	    <div class="grid tabs-bloc even">
	        <img src="img/550x400.jpg" alt="features 1 2">
	        <div class="tabs-text">
	            <h2>Feature #2: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	</div>

	<h2><a href="#"><span>Custom Library</span></a></h2>
	<div>
		<div class="grid tabs-bloc odd">
	    	<img src="img/550x400.jpg" alt="features 1 1">
	        <div class="tabs-text">
	            <h2>Feature #3: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	    <div class="grid tabs-bloc even">
	        <img src="img/550x400.jpg" alt="features 1 2">
	        <div class="tabs-text">
	            <h2>Feature #4: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	</div>

	<h2><a href="#"><span>Manage your Slogan</span></a></h2>
	<div>
		<div class="grid tabs-bloc odd">
	    	<img src="img/550x400.jpg" alt="features 1 1">
	        <div class="tabs-text">
	            <h2>Feature #5: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	    <div class="grid tabs-bloc even">
	        <img src="img/550x400.jpg" alt="features 1 2">
	        <div class="tabs-text">
	            <h2>Feature #5: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	</div>
</div>