<div id="tabs" class="center tabs">
	<ul class="grid tabs-list">
	    <li><a href="#content1">Slogan Library</a></li>
	    <li class="active"><a href="#content2">Custom Library</a></li>
	    <li><a href="#content3">Manage your Slogans</a></li>
	</ul>

	<article id="content1">
	    <div class="grid tabs-bloc odd">
	    	<img src="img/550x400.jpg" alt="features 1 1">
	        <div class="tabs-text">
	            <h2>Feature #1: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	    <div class="grid tabs-bloc even">
	        <img src="img/550x400.jpg" alt="features 1 2">
	        <div class="tabs-text">
	            <h2>Feature #2: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	</article>

	<article id="content2">
	    <div class="grid tabs-bloc odd">
	        <img src="img/550x400.jpg" alt="features 1 1">
	        <div class="tabs-text">
	            <h2>Feature #3: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	    <div class="grid tabs-bloc even">
	        <img src="img/550x400.jpg" alt="features 1 2">
	        <div class="tabs-text">
	            <h2>Feature #4: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	</article>

	<article id="content3">
	    <div class="grid tabs-bloc odd">
	        <img src="img/550x400.jpg" alt="features 1 1">
	        <div class="tabs-text">
	            <h2>Feature #5: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	    <div class="grid tabs-bloc even">
	        <img src="img/550x400.jpg" alt="features 1 2">
	        <div class="tabs-text">
	            <h2>Feature #6: Lorem ipsum dolor est</h2>
	            <p><strong>Lorem ipsum dolor sit amet</strong><br/> Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.<br />Lorem ipsum dolor sit amet </p>
	            <p>Consectetur adipiscing elit. Aliquam eleifend purus non consectetur egestas. In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	            <p><strong>Consectetur adipiscing elit</strong> <br/>Aliquam eleifend purus non consectetur egestas.In hac habitasse platea dictumst. Sed a consequat turpis. Nam massa nulla, pellentesque ac sem ac, feugiat iaculis neque.</p>
	        </div>
	    </div>
	</article>
</div>