<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>2 Col</title>
		<meta charset=utf-8 />
		<link href="css/style.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<header></header>

		<div id="top">
			<div class="banner banner-full">
				<div class="overlay">
					<div>
						<h1>Corporate Social Responsibility</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
						<a href="#form" class="btn btn-bordered medium-dark">Link to form</a>
					</div>
				</div>
				<div class="full full-img"></div>
				<div class="video-play"></div>
				<iframe class="video-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
			</div>

			<div class="center breadcrumb">
				<ol>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Corporate Social Responsibility</a>
					</li>
			    </ol>
			</div>

			<div class="center tag">
				<ul>
					<li>
						<a href="#">Output Management</a>
					</li>
					<li>
						<a href="#">Lorem ipsum Dolor</a>
					</li>
					<li>
						<a href="#">Vitae Sit</a>
					</li>
				</ul>
			</div>


			<div class="center text">
				<p>We draw on a variety of human, social, financial and natural resources to provide our customers with cutting-edge products and services. But we use our resources wisely. Neopost considers the interests of society as a whole when making business decisions. We take responsibility for the effect of our activities on our employees, customers, shareholders, suppliers and the communities in which we work and live. <br/>Each Neopost operating company has a moral obligation to conduct their activities in accordance with all applicable laws, regulations and standards. They also have an ethical duty to behave as a responsible corporate citizens.</p>
			</div>

			<div class="center">
				<a href="files/doc.pdf" class="center pdf">Lorem ipsum dolor est (brochure)</a>
			</div>
			
		</div>

		<div id="middle">
			<div class="center grid grid-2">
				<aside class="grid">
					<div class="form form-sidebar">
						<p class="form-title">Get a free quote today!</p>
						<p class="form-body">Fill in the form and your local Neopost account manager will be back to you with a quote in no time!</p>
						<p class="phone">+33 102 030 405</p>
						<form action="#" id="form">
							<label for="form-name" class="is-required">Name</label>
							<input type="text" id="form-name" name="form-name" value="" required>

							<label for="form-email" class="is-required">Email</label>
							<input type="email" id="form-email" name="form-email" value="" required>

							<label for="form-tel" class="is-required">Phone</label>
							<input type="tel" id="form-tel" name="form-tel" value="" required>

							<label for="form-company">Company</label>
							<input type="text" id="form-company" name="form-company" value="">

							<label for="form-postal-code">Postal Code</label>
							<input type="text" id="form-postal-code" name="form-postal-code" value="">

							<label for="form-country">Country</label>
							<input type="text" id="form-country" name="form-country" value="">

							<label for="form-textarea" class="is-required">Comment</label>
							<textarea id="form-textarea" name="form-textarea"></textarea>

							<input type="submit" value="Send now" class="btn btn-full cta">

						</form>
					</div>

					<div class="related related-content">
						<p class="h2-title">Related Content</p>
						<ul>
							<li>
								<img src="img/530x210.jpg" alt="Related 1">
								<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit feugiat ipsum vel nisi</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit feugiat ipsum vel nisi...</p>
							</li>
							<li>
								<img src="img/530x210.jpg" alt="Related 2">
								<a href="#">Lorem ipsum dolor sit amet</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit feugiat ipsum vel nisi...</p>
							</li>
							<li>
								<img src="img/530x210.jpg" alt="Related 3">
								<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit feugiat ip</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit feugiat ipsum vel nisi...</p>
							</li>
							<li>
								<img src="img/530x210.jpg" alt="Related 4">
								<a href="#">Lorem ipsum dolor sit amet</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit feugiat ipsum vel nisi...</p>
							</li>
						</ul>
					</div>
				</aside>

				<div class="content">
					<div class="full full-color"></div>

					<div class="banner">
						<div class="overlay">
							<div>
								<h2 class="dark">Corporate Social Responsibility</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
							</div>
						</div>
						<div class="full full-img"></div>
					</div>

					<div class="text">
						<h2 class="light">We observe statutory regulations and laws in the countries and communities in which we do business</h2>
						<p>Our agreements with external contractors, postal operators, suppliers and vendors stipulate a mandatory requirement for compliance with international labor conventions, global political resolutions and local legislation regarding working conditions, hygiene and environmental protection.</p>
						<p>Neopost goes beyond this minimum level of compliance by implementing ISO 9001, 14001 and OHSAS 180001 certification programmes on each of its sites. We take measures to protect our employees and to ensure that the environmental conditions in which they work are good.</p>
						<p>Neopost minimizes the environmental impact of its products throughout their entire life cycles, from the product development stage to the end-of-life recycling stage, including production, shipping and usage.</p>
						<p>The group’s eco-friendly design policy has allowed us to cut the weight of our latest machines by approximately 40% while also cutting the amount of components used in manufacturing by 10%. We deliver value to customers by improving the environmental performance of our products, helping them reduce their carbon footprint.</p>
					</div>

					
					<div class="banner">
						<div class="overlay">
							<div>
								<h2 class="dark">Corporate Social Responsibility</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
							</div>
						</div>
						<div class="full full-img"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="bottom">
		</div>
		
		<footer></footer>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	    <script src="js/owl.carousel.min.js"></script>
	    <script src="js/neopost.js"></script>

	</body>
</html>