<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Homepage</title>
		<meta charset=utf-8 />
		<link href="../css/owl.carousel.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="../css/style.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<header></header>

		<div class="content">
			<div class="banner banner-full">
				<div class="overlay">
					<div>
						<h1>Corporate Social Responsibility</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
						<a href="#form" class="btn btn-bordered medium-dark">Link to form</a>
					</div>
				</div>
				<div class="full full-img"></div>
				<div class="video-play"></div>
				<iframe class="video-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
			</div>

			<div class="center push">
				<p class="push-title">I Need a Solution for...</p>
				<ul>
					<li class="grid">
						<img src="../img/calendar.svg" alt="Lorem ipsum">
						<h2><a href="#">Lorem ipsum dolor amet elit aliquam</a></h2>
						<p>consectetur adipiscing elit. Integer facilisis. Lorem ipsum dolor amet elit ac libero aliquam luctus...</p>
					</li>
					<li class="grid">
						<img src="../img/calendar.svg" alt="Lorem ipsum">
						<h2><a href="#">Lorem ipsum dolor amet elit aliquam</a></h2>
						<p>consectetur adipiscing elit. Integer facilisis. Lorem ipsum dolor amet elit ac libero aliquam luctus...</p>
					</li>
					<li class="grid">
						<img src="../img/calendar.svg" alt="Lorem ipsum">
						<h2><a href="#">Lorem ipsum dolor amet elit aliquam</a></h2>
						<p>consectetur adipiscing elit. Integer facilisis. Lorem ipsum dolor amet elit ac libero aliquam luctus...</p>
					</li>
					<li class="grid">
						<img src="../img/calendar.svg" alt="Lorem ipsum">
						<h2><a href="#">Lorem ipsum dolor amet elit aliquam</a></h2>
						<p>consectetur adipiscing elit. Integer facilisis. Lorem ipsum dolor amet elit ac libero aliquam luctus...</p>
					</li>
					<li class="grid">
						<img src="../img/calendar.svg" alt="Lorem ipsum">
						<h2><a href="#">Lorem ipsum dolor amet elit aliquam</a></h2>
						<p>consectetur adipiscing elit. Integer facilisis. Lorem ipsum dolor amet elit ac libero aliquam luctus...</p>
					</li>
				</ul>
			</div>

			<div class="full-grey">
				<ul class="center card card-full">
					<li>
						<img src="../img/560x560.jpg" alt="Who we are">
						<h2><a href="#">Who we are</a></h2>
						<p>Neopost guides and supports organizations in how they send and receive communications and goods, helping them better connect with their business environment through hardware, software and services.</p>
						<a href="#" class="btn btn-bordered medium-light">Learn more</a>

					</li>
					<li>
						<img src="../img/560x560.jpg" alt="Neopost Worldwide">
						<h2><a href="#">Neopost Worldwide</a></h2>
						<p>Neopost’s network of partners and subsidiaries spans the globe and, thanks to our decentralized structure, each entity has considerable autonomy.</p>
						<a href="#" class="btn btn-bordered medium-light">See more</a>
					</li>
					<li>
						<img src="../img/560x560.jpg" alt="Careers">
						<h2><a href="#">Corporate Social Responsibiliy</a></h2>
						<p>Neopost understands that its employees are the basis for all of the company’s success. While technology makes life easier, human interactions drive business forward.</p>
						<a href="#" class="btn btn-bordered medium-light">WORKING AT NEOPOST</a>
					</li>
					<li>
						<img src="../img/560x560.jpg" alt="Who we are">
						<h2><a href="#">Management & Board</a></h2>
						<p>The 10 members of Neopost’s close-knit international management team, from different cultures and nationalities, are collaborating enthusiastically in order to ensure the successful transformation of the Group. Neopost’s Board of directors approves the Group’s strategic directions.</p>
						<a href="#" class="btn btn-bordered medium-light">Learn more</a>
					</li>
				</ul>
			</div>

			<div class="icon icon-full">
					<div class="center">
						<h2 class="light">Lorem Ipsum</h2>
						<ul>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<h3>Lorem Ipsum</h3>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
								<a href="#">Learn more</a>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<h3>Lorem Ipsum</h3>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
								<a href="#">Learn more</a>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<h3>Lorem Ipsum</h3>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
								<a href="#">Learn more</a>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<h3>Lorem Ipsum</h3>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
								<a href="#">Learn more</a>
							</li>
						</ul>
					</div>
			</div>
			
			<div class="banner-carousel">
				<ul class="owl-carousel">
					<li>
						<div class="banner banner-full">
							<div class="overlay">
								<div>
									<h2 class="dark">Corporate Social Responsibility</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
									<a href="#" class="btn btn-bordered medium-dark">Link to other</a>
								</div>
							</div>
							<div class="full full-img"></div>
						</div>
					</li>
					<li>
						<div class="banner banner-full">
							<div class="overlay">
								<div>
									<h2 class="dark">Our latest White Papers</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
									<a href="#" class="btn btn-bordered medium-dark">Read more</a>
								</div>
							</div>
							<div class="full full-img"></div>
						</div>
					</li>
				</ul>
			</div>

			<div class="text-alt">
				<h2 class="light">Lorem Ipsum</h2>
				<ul>
					<li>
						<div class="center text text-img-link">
							<img src="../img/700x500.jpg" alt="Image superbe">
							<div>
								<p><strong>What Will New EU Laws Mean for Your E-invoicing Procedures?</strong></p>
								<p>For small and medium businesses (SMBs), the speed at which an invoice is settled has a big impact on the accounting sheet. Indeed, stories of smaller firms struggling to survive due to late payments are a common occurrence, with large companies often abusing the resources available to them. Only recently, outsourcing giant Capita was accused of short-changing its smaller business partners...</p>
								<a href="#" class="btn btn-bordered medium-light">Read More</a>
							</div>
						</div>
					</li>

					<li>
						<div class="center text text-img-link">
							<img src="../img/700x500.jpg" alt="Image superbe">
							<div>
								<p><strong>What Will New EU Laws Mean for Your E-invoicing Procedures?</strong></p>
								<p>For small and medium businesses (SMBs), the speed at which an invoice is settled has a big impact on the accounting sheet. Indeed, stories of smaller firms struggling to survive due to late payments are a common occurrence, with large companies often abusing the resources available to them. Only recently, outsourcing giant Capita was accused of short-changing its smaller business partners...</p>
								<a href="#" class="btn btn-bordered medium-light">Read More</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
		
		<footer></footer>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	    <script src="../js/owl.carousel.min.js"></script>
	    <script src="../js/neopost.js"></script>

	</body>
</html>