<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>List of Event</title>
		<meta charset=utf-8 />
		<link href="../css/style.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<header></header>

		<main>
			<div id="top">
				<div class="banner banner-full">
					<div class="overlay">
						<div>
							<h1>Case Studies</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
							<a href="#form" class="btn btn-bordered medium-dark">Link to form</a>
						</div>
					</div>
					<div class="full full-img"></div>
					<div class="video-play"></div>
					<iframe class="video-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
				</div>

				<div class="center breadcrumb">
					<ol>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
						<li>
							<a href="#">Corporate Social Responsibility</a>
						</li>
				    </ol>
				</div>
			</div>

			<div id="middle">
				<div class="center grid grid-2">
					<aside class="grid">
						<div class="form form-sidebar">
							<p class="form-title"><span>Get a free quote today!</span></p>
							<p class="form-body">Fill in the form and your local Neopost account manager will be back to you with a quote in no time!</p>
							<p class="phone">+33 102 030 405</p>
							<form action="#" id="form">
								<label for="form-name" class="is-required">Name</label>
								<input type="text" id="form-name" name="form-name" value="" required>

								<label for="form-email" class="is-required">Email</label>
								<input type="email" id="form-email" name="form-email" value="" required>

								<label for="form-tel" class="is-required">Phone</label>
								<input type="tel" id="form-tel" name="form-tel" value="" required>

								<label for="form-company">Company</label>
								<input type="text" id="form-company" name="form-company" value="">

								<label for="form-postal-code">Postal Code</label>
								<input type="text" id="form-postal-code" name="form-postal-code" value="">

								<label for="form-country">Country</label>
								<input type="text" id="form-country" name="form-country" value="">

								<label for="form-textarea" class="is-required">Comment</label>
								<textarea id="form-textarea" name="form-textarea"></textarea>

								<input type="submit" value="Send now" class="btn btn-full cta">

							</form>
						</div>
						<div class="related related-menu">
							<p class="h2-title">Newsroom Content</p>
							<ul>
								<li>
									<a href="#">Blog</a>
								</li>
								<li>
									<a href="#">Case Studies</a>
								</li>
								<li>
									<a href="#" class="is-active">Events</a>
								</li>
								<li>
									<a href="#">Product Press Releases</a>
								</li>
							</ul>
						</div>
					</aside>

					<div class="content">
						<div class="full full-color full-grey"></div>

						<div class="filter-date">
							<p>All Events</p>
							<a href="#" title="Trier par date"><span class="element-invisible">Trier par date</span><img src="../img/calendar.svg" alt="Trier par date - Image"></a>			
						</div>

						<ul class="card card-no-btn">
							<li>
								<img src="../img/560x560.jpg" alt="Neopost at Drupa 2018">
								<h2><a href="#">Neopost at Drupa 2018</a></h2>
								<p class="card-place"><strong>8020, Hall 3</strong> AsiaWorld-Expo Management Limited, AsiaWorld-Expo, HongKong International, Airport - Lantau, Hong Kong China</p>
								<p class="card-duration">24/05/2018 <span>to</span> 26/05/2018</p>
							</li>
							<li>
								<img src="../img/560x560.jpg" alt="Neopost at Drupa 2017">
								<h2><a href="#">Neopost at Drupa 2017</a></h2>
								<p class="card-place"><strong>8020, Hall 3</strong> AsiaWorld-Expo Management Limited, AsiaWorld-Expo, HongKong International</p>
								<p class="card-duration">24/05/2017 <span>to</span> 26/05/2017</p>
							</li>
							<li>
								<img src="../img/560x560.jpg" alt="Neopost at Drupa 2018">
								<h2><a href="#">Neopost at Drupa 2018</a></h2>
								<p class="card-place"><strong>8020, Hall 3</strong> AsiaWorld-Expo Management Limited, AsiaWorld-Expo, HongKong International, Airport - Lantau, Hong Kong China</p>
								<p class="card-duration">24/05/2018 <span>to</span> 26/05/2018</p>
							</li>
							<li>
								<img src="../img/560x560.jpg" alt="Neopost at Drupa 2017">
								<h2><a href="#">Neopost at Drupa 2017</a></h2>
								<p class="card-place"><strong>8020, Hall 3</strong> AsiaWorld-Expo Management Limited, AsiaWorld-Expo, HongKong International</p>
								<p class="card-duration">24/05/2017 <span>to</span> 26/05/2017</p>
							</li>
							
						</ul>
					</div>
				</div>
			</div>

			<div id="bottom">
			</div>
		</main>
		
		<footer></footer>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	    <script src="../js/owl.carousel.min.js"></script>
	    <script src="../js/neopost.js"></script>

	</body>
</html>