<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<title>Range detailed</title>
		<meta charset=utf-8 />
		<link href="../css/style.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<header></header>

		<main>
			<div id="top">
				<div class="banner banner-full">
					<div class="overlay">
						<div>
							<h1>Case Studies</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lobortis urna. Nam quis mauris semper, vehicula sem non, elementum felis.</p>
							<a href="#form" class="btn btn-bordered medium-dark">Link to form</a>
						</div>
					</div>
					<div class="full full-img"></div>
					<div class="video-play"></div>
					<iframe class="video-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
				</div>

				<div class="center breadcrumb">
					<ol>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
						<li>
							<a href="#">Corporate Social Responsibility</a>
						</li>
				    </ol>
				</div>

				<div class="center text">
					<h2 class="light">La machine à affranchir, une solution adaptée à votre volume de courrier</h2>
					<p>Vous trouverez forcément une réponse à vos besoins parmi notre large gamme de machines à affranchir, associées à nos balances postales.<br>Déjà client ? Achetez en ligne votre cartouche machine à affranchir Neopost.</p>
					<p>Nos machines à affranchir et solutions d’affranchissement, rapides et efficaces, vous offrent un gain de temps considérable dans le traitement quotidien de votre courrier. Dotées d’une très grande palette de tarifs vous permettant d’affranchir vos lettres ou colis en économique, tarif rapide, recommandé ou même en courrier suivi, elles sont aussi économiquement intéressantes. En effet, vous bénéficiez de tarifs postaux spécifiques avantageux, d’un paiement fin de mois de votre facture postale mais aussi d’une technologie vous permettant de peser vos lettres au gramme près et ainsi d’éviter le sur-affranchissement. Silencieuses, adaptées à un environnement de bureau, fiables et conçues pour être les plus ergonomiques possibles, elles sauront répondre à tous vos besoins.</p>
				</div>

				<div class="icon icon-round icon-dark">
					<div class="center">
						<ul>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
						</ul>
					</div>
				</div>

				<div class="anchor">
					<h2 class="light">Qu’elle(s) machine(s) recherchez-vous?</h2>
					<ul class="center">
						<li><a href="#petits-volumes">Petits volumes</a></li>
						<li><a href="#moyens-volumes">Moyens volumes</a></li>
						<li><a href="#grands-volumes">Grands volumes</a></li>
					</ul>
				</div>
			</div>

			<div id="middle">
				<div class="center grid grid-2">
					<aside class="grid">
						<div class="form form-sidebar">
							<p class="form-title"><span>Get a free quote today!</span></p>
							<p class="form-body">Fill in the form and your local Neopost account manager will be back to you with a quote in no time!</p>
							<p class="phone">+33 102 030 405</p>
							<form action="#" id="form">
								<label for="form-name" class="is-required">Name</label>
								<input type="text" id="form-name" name="form-name" value="" required>

								<label for="form-email" class="is-required">Email</label>
								<input type="email" id="form-email" name="form-email" value="" required>

								<label for="form-tel" class="is-required">Phone</label>
								<input type="tel" id="form-tel" name="form-tel" value="" required>

								<label for="form-company">Company</label>
								<input type="text" id="form-company" name="form-company" value="">

								<label for="form-postal-code">Postal Code</label>
								<input type="text" id="form-postal-code" name="form-postal-code" value="">

								<label for="form-country">Country</label>
								<input type="text" id="form-country" name="form-country" value="">

								<label for="form-textarea" class="is-required">Comment</label>
								<textarea id="form-textarea" name="form-textarea"></textarea>

								<input type="submit" value="Send now" class="btn btn-full cta">

							</form>
						</div>
					</aside>

					<div class="content">
						<div class="full full-color"></div>
						<h2 class="light">Machines à affranchir de petits volumes</h2>
						<ul class="bloc bloc-range">
							<li class="grid">
								<img src="../img/690x575.jpg" alt="Frankiermaschine IS-350 eco">
								<div>
									<h3>Machine à affranchir IS-280</h3>
									<p>Idéale pour les petits volumes courrier, compacte et discrète, l’IS-280 s’intègre parfaitement à votre environnement de travail. <br /> Vous possédez une IS-280 ? Commandez votre cartouche machine à affranchir IS-280 sur le site Neopost Fournitures.</p>
									<ul>
										<li>Cadence 1200 Enveloppes / Heure</li>
										<li>Dépôt du courrier boite aux lettres de rue possible (norme TPMAC)</li>
										<li>Pesée jusqu’à 3 kg</li>
									</ul>
									<div class="bloc-btn">
										<a href="#" class="btn btn-full cta">Demander un devis</a>
										<a href="#" class="btn btn-bordered medium-light">En savoir plus</a>
									</div>
								</div>
							</li>
							<li class="grid">
								<img src="../img/690x575.jpg" alt="Frankiermaschine IS-350 eco">
								<div>
									<h3>Machine à affranchir IS-280</h3>
									<p>Idéale pour les petits volumes courrier, compacte et discrète, l’IS-280 s’intègre parfaitement à votre environnement de travail. <br /> Vous possédez une IS-280 ? Commandez votre cartouche machine à affranchir IS-280 sur le site Neopost Fournitures.</p>
									<ul>
										<li>Cadence 1200 Enveloppes / Heure</li>
										<li>Dépôt du courrier boite aux lettres de rue possible (norme TPMAC)</li>
										<li>Pesée jusqu’à 3 kg</li>
									</ul>
									<div class="bloc-btn">
										<a href="#" class="btn btn-full cta">Demander un devis</a>
										<a href="#" class="btn btn-bordered medium-light">En savoir plus</a>
									</div>
								</div>
							</li>
						</ul>

						<h2 class="light">Machines à affranchir de moyens volumes</h2>
						<ul class="bloc bloc-range">
							<li class="grid">
								<img src="../img/690x575.jpg" alt="Frankiermaschine IS-350 eco">
								<div>
									<h3>Machine à affranchir IS-280</h3>
									<p>Idéale pour les petits volumes courrier, compacte et discrète, l’IS-280 s’intègre parfaitement à votre environnement de travail. <br /> Vous possédez une IS-280 ? Commandez votre cartouche machine à affranchir IS-280 sur le site Neopost Fournitures.</p>
									<ul>
										<li>Cadence 1200 Enveloppes / Heure</li>
										<li>Dépôt du courrier boite aux lettres de rue possible (norme TPMAC)</li>
										<li>Pesée jusqu’à 3 kg</li>
									</ul>
									<div class="bloc-btn">
										<a href="#" class="btn btn-full cta">Demander un devis</a>
										<a href="#" class="btn btn-bordered medium-light">En savoir plus</a>
									</div>
								</div>
							</li>
							<li class="grid">
								<img src="../img/690x575.jpg" alt="Frankiermaschine IS-350 eco">
								<div>
									<h3>Machine à affranchir IS-280</h3>
									<p>Idéale pour les petits volumes courrier, compacte et discrète, l’IS-280 s’intègre parfaitement à votre environnement de travail. <br /> Vous possédez une IS-280 ? Commandez votre cartouche machine à affranchir IS-280 sur le site Neopost Fournitures.</p>
									<ul>
										<li>Cadence 1200 Enveloppes / Heure</li>
										<li>Dépôt du courrier boite aux lettres de rue possible (norme TPMAC)</li>
										<li>Pesée jusqu’à 3 kg</li>
									</ul>
									<div class="bloc-btn">
										<a href="#" class="btn btn-full cta">Demander un devis</a>
										<a href="#" class="btn btn-bordered medium-light">En savoir plus</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
				</div>
			</div>

			<div id="bottom">
				<div class="icon icon-round icon-dark">
					<div class="center">
						<ul>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
							<li>
								<div class="icon-img"><img src="../img/calendar.svg" alt="Icon"></div>
								<p>Notre gamme IS <strong>s’adapte à vos besoins</strong> : de l’IS-280 qui s’insère parfaitement à votre environnement bureautique à l’IS-6000 mixte pro destinée aux centres de production courrier.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</main>
		
		<footer></footer>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	    <script src="../js/owl.carousel.min.js"></script>
	    <script src="../js/neopost.js"></script>

	</body>
</html>