<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Webform</title>
		<meta charset=utf-8 />
		<link href="../css/style.css" media="all" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<header></header>

		<div id="top">

			<div class="banner banner-full">
				<div class="full full-img"></div>
				<div class="overlay">
					<div>
						<h1>Webform</h1>
						<p>Cool to contact us!</p>
					</div>
				</div>
			</div>

			<div class="center breadcrumb">
				<ol>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Corporate Social Responsibility</a>
					</li>
			    </ol>
			</div>

			<div class="center text">
				<p>We draw on a variety of human, social, financial and natural resources to provide our customers with cutting-edge products and services. But we use our resources wisely. Neopost considers the interests of society as a whole when making business decisions. We take responsibility for the effect of our activities on our employees, customers, shareholders, suppliers and the communities in which we work and live. <br/>Each Neopost operating company has a moral obligation to conduct their activities in accordance with all applicable laws, regulations and standards. They also have an ethical duty to behave as a responsible corporate citizens.</p>
			</div>
		</div>

		<div id="middle">
			<div class="center content">
				<div class="full full-color"></div>

				<div class="form form-full">
					<p class="phone">+33 102 030 405</p>

					<form action="#" id="form">
						<fieldset>
							<legend>Personal details</legend>
							
							<div>
								<label for="form-name" class="is-required">Name</label>
								<input type="text" id="form-name" name="form-name" value="" required>
							</div>

							<div>		
								<label for="form-email" class="is-required">Email</label>
								<input type="email" id="form-email" name="form-email" value="" required>
							</div>

							<div>
								<label for="form-tel" class="is-required">Phone</label>
								<input type="tel" id="form-tel" name="form-tel" value="" required>
							</div>

							<div>
								<label for="form-company">Company</label>
								<input type="text" id="form-company" name="form-company" value="">
							</div>

							<div>
								<label for="form-postal-code">Postal Code</label>
								<input type="text" id="form-postal-code" name="form-postal-code" value="">
							</div>

							<div>
								<label for="form-country">Country</label>
								<input type="text" id="form-country" name="form-country" value="">
							</div>

						</fieldset>

						<fieldset>
							<legend>Your Issue</legend>

							<div>
								<label for="form-issue-or-question">Issue or question</label>
								<select name="form-issue-or-question" id="form-issue-or-question">
									<option value="none" selected>None</option>
									<option value="question1">Question 1</option>
									<option value="question2">Question 2</option>
									<option value="question2">Question 3</option>
								</select>
							</div>

							<div class="form-file">
								<label>Send a file</label>
								<label for="form-send-a-file" class="form-file-label btn btn-bordered other-light">Choose file</label>
								<input type="file" id="form-send-a-file" name="form-send-a-file">
							</div>

						</fieldset>

						<fieldset>
							<legend>Your need</legend>
							
							<fieldset class="form-fieldset-second">
								<legend>What do you need ?</legend>

								<div class="form-checkbox">
									<input type="checkbox" id="form-machine-a-affranchir" name="your-need" value="machine-a-affranchir"/>
									<label for="form-machine-a-affranchir">Machine à afranchir</label>
								</div>
								<div class="form-checkbox">
									<input type="checkbox" id="form-systeme-d-adressage" name="your-need" value="systeme-d-adressage"/>
									<label for="form-systeme-d-adressage">Systeme d'adressage</label>
								</div>
								<div class="form-checkbox">
									<input type="checkbox" id="form-logiciel" name="your-need" value="logiciel"/>
									<label for="form-logiciel">Logiciel</label>
								</div>
								<div class="form-checkbox">
									<input type="checkbox" id="form-divers" name="your-need" value="divers"/>
									<label for="form-divers">Divers</label>
								</div>
								<div class="form-checkbox">
									<input type="checkbox" id="form-autres" name="your-need" value="autres"/>
									<label for="form-autres">Autres</label>
								</div>
							</fieldset>

							<fieldset class="form-fieldset-second">
								<legend>Yes I will be here on :</legend>

								<div class="form-radio">
									<input type="radio" id="form-180223" name="be-here-on" value="180223"/>
									<label for="form-180223">23/02/2018</label>
								</div>
								<div class="form-radio">
									<input type="radio" id="form-180224" name="be-here-on" value="180224"/>
									<label for="form-180224">24/02/2018</label>
								</div>
								<div class="form-radio">
									<input type="radio" id="form-180225" name="be-here-on" value="180225"/>
									<label for="form-180225">25/02/2018</label>
								</div>
								<div class="form-radio">
									<input type="radio" id="form-180226" name="be-here-on" value="180226"/>
									<label for="form-180226">26/02/2018</label>
								</div>
								<div class="form-radio">
									<input type="radio" id="form-180227" name="be-here-on" value="180227"/>
									<label for="form-180227">27/02/2018</label>
								</div>
							</fieldset>	

						</fieldset>
						

						<label for="form-textarea" class="is-required">Comment</label>
						<textarea id="form-textarea" name="form-textarea"></textarea>

						<input type="submit" value="Send now" class="btn btn-full cta">

					</form>
				</div>
			</div>
		</div>

		<div id="bottom"></div>
		
		<footer></footer>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	    <script src="js/owl.carousel.min.js"></script>
	    <script src="../js/neopost.js"></script>
	    
	</body>

</html>